div.custom-width{
    /* padding-left: 25%; */
    margin : 1px 10%;
    border-style: solid;
    background-color : rgba(211,211,211,0.8);
    border-width: 1px;
    border-radius: 5px;
    padding: 20px;
}
div.custom-width:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.custom-padding{
    padding: 20px;
}
div.inline{
    text-align: right;
}
textarea {
    resize: none;
  }
  input:selected{
    box-shadow: 0 4px 8px 0 rgba(0, 253, 42, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
